<div class="container">
    <form name="taskForm" ng-submit="onSubmitForm(taskForm)" novalidate="novalidate">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Task name" ng-model="formFields.name" required="required" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Task description" ng-model="formFields.description" required />
        </div>
        <div class="form-group">        
            <select name="selection" ng-model="formFields.createdBy" required>
                <option value="{{ task.createdBy._id }}" ng-repeat="task in taskList" required>
                    {{ task.createdBy.firstName }}
                </option>
                <!-- <input type="text" class="form-control" placeholder="Task created By" ng-model="formFields.createdBy" /> -->
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Task assign to" ng-model="formFields.assignee" required />      
        </div>
        <input type="submit" class="btn-primary" />
    </form>
    
    <input type="text" placeholder="search" ng-model="searchKey" />
    <table class="table table-bordered">
		<thead>
			<tr>
				<th>Task Name</th>
				<th>Description</th>
				<th>createdOn</th>
				<th>createdBy</th>			
				<th>Assigned To</th>			
			</tr>
            </thead>
		<tbody ng-repeat="task in taskList | filter:searchKey">
			<tr>
				<td>{{ task.name }}</td>	
				<td>{{ task.description }}</td>	
				<td>{{ task.createdOn }}</td>	
				<td>{{ task.createdBy.firstName }} {{ task.createdBy.lastname }}</td>	
				<td>{{ task.assignee }}</td>			
			</tr>
		</tbody>
	<!-- <pre>{{ taskList | json }}</pre> -->
    </table>
    
</div>